body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.card {
    margin: 0 auto; /* Center the card on the page */
}

#resultContainer {
    margin-top: 20px;
}

/* Adjust styles for smaller screens */
@media (max-width: 576px) {
    .card {
        width: 90%;
    }
}

.form-control{
    max-width:auto;
}